.project
    position: relative
    z-index: 5
    margin-bottom: 38rem

    &-title
        display: flex
        justify-content: center
        margin-bottom: 8rem

    &-wrapper
        display: grid
        grid-template-columns: 20% 20% 20% 20% 20%
        grid-template-rows: 1fr 1fr 1fr
        grid-gap: .1rem
        width: 89.5%
        margin: 0 auto

    &-card
        position: relative
        display: flex
        justify-content: center
        width: 100%
        height: 0
        padding-bottom: 100%
        border: .05rem solid white
        &-1
            grid-column: 1 / 2
            grid-row: 1 / 2
        &-2
            right: 50%
            grid-column: 3 / 4
            grid-row: 1 / 2
        &-3
            grid-column: 5 / 6
            grid-row: 1 / 2
        &-4
            grid-column: 2 / 3
            grid-row: 2 / 3
        &-5
            grid-column: 4 / 5
            grid-row: 2 / 3
        &-6
            grid-column: 3 / 4
            grid-row: 3 / 4
        &__img
            position: absolute
            top: 1.5%
            width: 97%
            height: 97%
            transition: all .3s
        &:hover img
            opacity: .5
            width: 91%
            height: 92%
            top: 3.8%
        &:hover .project-caption
            opacity: 1
            transform: translateY(-70%)

    &-text
        text-align: justify
        align-self: end
        grid-column: 1 / 2
        grid-row: 2 / 4

    &-caption
        opacity: 0
        position: absolute
        top: 90%
        left: 10%
        font-family: "Inter-light"
        font-size: 2rem
        transition: all .3s